<!-- chat/templates/chat/groupchat.html -->
{% extends 'chat/base.html' %} 
{% block title %} Chat Room{% endblock title %}
{% block content %}
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <button id="return-to-home" onclick="returnToHome()">Return to Home</button>

    <script>
        document.querySelector('#chat-log').value = ""
        {% for message_event in message_and_event_list %}
            document.querySelector('#chat-log').value += ('{{ message_event|safe }}' + '\n');
        {% endfor %}
    </script>

    <h3>Group Members</h3>
    <ul id="members">
        {% for member in group_members %}
            <li id="members-{{member.username}}">{{member}}</li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block script %}
<script>
    const base_url = `${window.location.host}${window.location.pathname}`;

    const chatSocket = new WebSocket(`ws://${base_url}`);

    chatSocket.onopen = function(e) {
        console.log("connected");
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
        status = data.status
        user = data.user
        
        if (status == "Left") {
            document.getElementById(`members-${user}`).remove();
        } else if (status == "Join") {
            var members_list = document.getElementById('members');
            var members_item = document.createElement("li");
            members_item.innerHTML = user;
            members_item.setAttribute("id", `members-${user}`);
            members_list.appendChild(members_item);
        }        
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'text_message',
            'author': '{{ request.user }}',
            'message': message
        }));
        messageInputDom.value = '';
    };

    function returnToHome() {
        // Redirect to the home page
        window.location.replace(`http://${window.location.host}`);
    }
</script>
{% endblock script %}
